.add-lecture-page {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.time-input, .module-input, .venue-input {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 10px;
    padding: 10px;
    font-size: var(--medium-font);
    font-family: var(--font-family);
    color: var(--header-color);
    font-weight: 400;
    border-radius: 5px;
    width: 80vw;
}

.text-border {
    width: 120px;
    align-items: left;
}

.time-box {
    width: 100px;
    border-radius: 5px;
    padding-left: 20px;
    border-color: var(--header-color);
    font-family: var(--font-family);
    font-size: var(--small-font);
}

.input-box {
    width: 40%;
    border-radius: 5px;
    border-color: var(--header-color);
    font-family: var(--font-family);
    font-size: var(--small-font);
}

.submit-btn {
    font-family: var(--font-family);
    font-size: var(--small-font);
    background-color: var(--card-color);
    color: var(--text-color);
    border: none;
    width: 100px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 20px;
}