@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --card-color: #d32424;
    --background-color: #ebebeb;
    --text-color: #d6d6d6;
    --header-color: #870000;
    --accent-color: #878787;
    --font-family: "Roboto Slab", serif;
    --font-style: normal;
    --small-font: 18px;
    --medium-font: 24px;
    --large-font: 80px;
    --btn-size: 36px;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.nav {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
    font-size: var(--medium-font);
    background-color: transparent;
    margin-bottom: 0px;
    justify-content: space-between;
}

.nav a{
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--card-color);
    padding: 10px 20px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
}

.nav a:hover{
    background-color: var(--accent-color);
    color: var(--background-color);
    transition: 0.3s;
}