@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.header {
    font-family: var(--font-family);
    font-weight: 700;
    font-style: normal;
    font-size: var(--large-font);
    color: var(--header-color);
    margin-bottom: 20px;
}

.lecture-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lecture-card, .add-bar {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    font-size: var(--medium-font);
    background-color: var(--card-color);
    color: var(--text-color);

    display: flex;
    justify-content: start;
    margin: 10px;
    width: 80vw;
    border-radius: 10px;
}

.lecture-info {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    width: 80%;
}

.time, .module, .venue{
    padding: .5em;
    padding-top: .7em;
    margin-right: 1em;
}

.delete-btn img{
    width: var(--btn-size);
    height: var(--btn-size);
    object-fit: contain;
}

.delete-btn {
    padding: none;
    background: none;
    border: none;
    margin-left: auto;
}

.add-bar {
    height: 92px;
}

.add-btn img{
    width: var(--btn-size);
    height: var(--btn-size);
    object-fit: contain;
}

.add-btn {
    padding: none;
    background: none;
    border: none;
}

.add-text {
    align-self: center;
    padding: 0.5em;
}



